/*debut page produit seul********************************************************************************/
*, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Average', serif;
}
/*Video Produit*/
video#bgvid {
    position: fixed; center: 0; top: -15%;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}

.grid-container01 {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3px 84px;
    grid-template-areas:
    "left card01";
}

.card01 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
    "titre01"
    "cat"
    "image01"
    "image01"
    "prix01"
    "quantite01"
    "taille01"
    "panier01";
    grid-area: card01;
}

.titre01 {
    padding: 15px 0 0 15px;
    grid-area: titre01;
    font-family: 'Fjalla One', sans-serif;
    background-color: #FAF9F5;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cat {
    grid-area: cat;
    background-color: #FAF9F5;
    padding: 15px;
}

.image01 {
    height: 430px;
    grid-area: image01;
    display: flex;
    justify-content: center;
    background-color: #FAF9F5;
    padding: 15px;
    position: relative;
}
/*******SUPPERPOSER LES IMAGES**********/
.image01 img, .image1 img {
    position: absolute;
    overflow: hidden;
}
.one01 {
    z-index: 9999;
    transition: opacity .5s;
}
.one01:hover{
    opacity: 0;
}

.prix01 {
    grid-area: prix01;
    display: flex;
    justify-content: center;
    background-color: #0F0F0F;
    color: #FAF9F5;
}

.quantite01 {
    grid-area: quantite01;
    background-color: #0F0F0F;
    padding-left: 15px;
    color: #FAF9F5;
}

.taille01 {
    grid-area: taille01;
    background-color: #0F0F0F;
    padding-left: 15px;
    color: #FAF9F5;
}

.panier01 {
    grid-area: panier01;
    background-color: #0F0F0F;
    padding: 0 15px 15px 15px;
    color: #FAF9F5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.panier01 a {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-top: 1rem;
    box-shadow:inset 0px 1px 0px 0px #FFC805;
    background:linear-gradient(to bottom, #FFC805 5%, #FFC805 100%);
    background-color:#FFC805;
    border-radius:6px;
    border:1px solid #FFC805;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #FFC805;
}

.left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.5fr 1.9fr;
    gap: 0px 0px;
    grid-template-areas:
    "empty"
    "h2"
    "vide";
    grid-area: left;
}

.empty { grid-area: empty; }

.h2 {
    grid-area: h2;
    font-family: 'Fjalla One', sans-serif;
    font-size: xxx-large;
    color: #FFC805;
}

.vide { grid-area: vide; }


/*******PARTIE BLANCHE DESCRIPTION************/

#descrptionproduit {
    margin-top: 10vh;
    background-color: #FAF9F5;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr;
    gap: 3px 84px;
    grid-template-areas:
    "aside description";
    background-color: #FAF9F5;
}

.description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 0px 0px;
    grid-template-areas:
    ".";
    grid-area: description;
}

.description h2 {
    background-color: #FFC805;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 0px 0px;
    grid-template-areas:
    ".";
    grid-area: aside;
}

/*** PRODUITS ASSOCIES ***/
#associ {
    background-color: #FAF9F5;
    margin: auto;
    padding-bottom: 15px;
}
.art1 {
    display: flex;
    justify-content: space-around;
}

#border {
    border: solid #FFC805;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.image1 {
    height: 200px;
    width: 200px;
}

.bouton1 a {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-top: 1rem;
    box-shadow:inset 0px 1px 0px 0px #FFC805;
    background:linear-gradient(to bottom, #FFC805 5%, #FFC805 100%);
    background-color:#FFC805;
    border-radius:6px;
    border:1px solid #FFC805;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #FFC805;
}
/*Fin page produit seul********************************************************************************/
/*DEBUT PAGE ALL PRODUCT STORE SHOP BOUTIQUE***********************************************************/
*, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Average', serif;
}
h1, h2, h3, a {
    font-family: 'Fjalla One', sans-serif;
}
/***Disposition de la page***/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "filtre parent parent parent"
    "filtre parent parent parent"
    "filtre parent parent parent";
}

.parent {
    grid-area: parent;
    display: flex;
    flex-wrap: wrap;
}

.child {
    display: flex;
    flex-direction: column;
    grid-area: child;
    margin: auto;
    margin-top: 10px;
    background-color: #FAF9F5;
    border: #FFC805 2px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.image {
    grid-area: image;
    display: flex;
    background-color: #FAF9F5;
    height: 150px;
    place-content: center;
    width: 110px;
}
.image img {
    position: absolute;
    overflow: hidden;
    height: 150px;
    width: 150px;
}
.one {
    z-index: 9999;
    transition: opacity .5s;
}
.one:hover{
    opacity: 0;
}

.titre {
    grid-area: titre;
    font-family: 'Fjalla One', sans-serif;
    background-color: #FFC805;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 0;
}

.other {
    grid-area: other;
    display: flex;
    /*justify-content: center;*/
    background-color: #FAF9F5;
    color: #0F0F0F;
    /*height: fit-content;*/
    place-content: center;
}

.price {
    grid-area: price;
    display: flex;
    /*justify-content: center;*/
    background-color: #FAF9F5;
    color: #0F0F0F;
    /*height: fit-content;*/
    place-content: center;
}

.bouton1 {
    grid-area: bouton1;
    background-color: #FAF9F5;
    color: #0F0F0F;
    padding: 0 15px 15px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*height: fit-content;*/
}
.bouton1 a {
    text-align: center;
    margin-top: 1rem;
    background-color:#FFC805;
    border-radius:6px;
    border:1px solid #FFC805;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}
.bouton1 a:hover {
    background-color: #EDB900;
}

#content-item {
    width: 250px;
    text-align: center;
}

/**********LES CATEGORIES*************/


.filtre {
    grid-area: filtre;
    position: fixed;
    padding: 5px;
}
.filtre form section {
    margin: 5px 0 5px 0;
}
.filtre form section p {
    margin-bottom: 5px;
    text-align: center;
}